/* div p:first-child{
    background-color: yellow;
    color: red;
} */

p:first-child{
    background-color: yellow;
    color: red;
}

/* p:nth-child(1){
    background-color: yellow;
    color: red;
} */

p{
    background-color: blue;
    color: white;
}